.main {
  min-height: 81vh;
}
.user-main {
  min-height: 81vh;
  width: calc(100% - 200px);
}
.signIn-page {
  min-height: 100vh;
  background: url(./assets/login-page-image.jpg) center no-repeat;
  background-size: cover;
}

/* Carousel Style  */

.carousel {
  height: 60vh;
}
.carousel img {
  height: 60vh;
  object-fit: cover;
}

.carousel-caption-bg {
  background-color: rgba(128, 128, 128, 0.439);
  backdrop-filter: blur(5px);
}

/* End Carousel Style  */

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

/* Review Tab Section  */
.review-item {
  /* background: #d8d8d8; */
  margin-bottom: 2rem;
}
.review-item .left div {
  background: white;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid grey;
}
.listView {
  text-decoration: none;
}

/* Cart icon style  */
.cart-count {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: red;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: -5px;
  transition: all 0.5s;
}
